PraUAS/nodered/flows.json
[
    {
        "id": "b1c4d0a960412dca",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "baeafbf60ca4e7bf",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Smart Farm",
        "info": "",
        "x": 250,
        "y": 360,
        "wires": []
    },
    {
        "id": "84d95a8a46f96b98",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Smart Plantation",
        "info": "",
        "x": 960,
        "y": 360,
        "wires": []
    },
    {
        "id": "bda1cb924704b883",
        "type": "link out",
        "z": "b1c4d0a960412dca",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "4b63f91eb21eb7af",
            "53b4f440ffc9e419",
            "e53e1fd7b3f7fb4e",
            "5d370ce7657aa70e",
            "6e7dc51da13fbf26",
            "43428b44cc85a646",
            "b701c7395caf3b35",
            "88b5759c60713638",
            "ed658393843e8ad6",
            "6024acadfd1bd579",
            "cbef20d2c327ace1",
            "d81895ae36f53b34",
            "de08238bd148fa0d",
            "bd6921650625e0c0",
            "133b0385b1059939",
            "d42296a6f8731b9e",
            "e24398d66d2d0f56",
            "5b54e22966431b59",
            "ca0fe607c7223a35",
            "452bf645cf2d47cb",
            "bcce22257585f11d"
        ],
        "x": 1085,
        "y": 280,
        "wires": []
    },
    {
        "id": "e53e1fd7b3f7fb4e",
        "type": "link in",
        "z": "b1c4d0a960412dca",
        "name": "link in 1",
        "links": [
            "bda1cb924704b883"
        ],
        "x": 145,
        "y": 520,
        "wires": [
            [
                "2dee284fcc31761f",
                "5f287cce3af675c6",
                "84fe2db45453813f"
            ]
        ]
    },
    {
        "id": "62ad308f4bf2155c",
        "type": "inject",
        "z": "b1c4d0a960412dca",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 930,
        "y": 280,
        "wires": [
            [
                "bda1cb924704b883"
            ]
        ]
    },
    {
        "id": "d26bd6c22d164c6c",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Subsistem 1: susu hewani dan telur",
        "info": "",
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "2dee284fcc31761f",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "Sensor pH (0-14) ",
        "low": "0",
        "high": "14",
        "inte": "true",
        "property": "payload",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "403ddab53bf36c2c",
                "a8eba1ec85e7d0cb",
                "f38f3c8bb5be3c25"
            ]
        ]
    },
    {
        "id": "5f287cce3af675c6",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "Sensor LDR (100 ohm - 10000000 ohm)",
        "low": "100",
        "high": "10000000",
        "inte": "true",
        "property": "payload",
        "x": 400,
        "y": 520,
        "wires": [
            [
                "e4d858f18cb9e34f",
                "7388949cc9beca9f",
                "3a4e43beb1eba972"
            ]
        ]
    },
    {
        "id": "84fe2db45453813f",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "Sensor CO2 (400 ppm - 2000 ppm)",
        "low": "400",
        "high": "2000",
        "inte": "true",
        "property": "payload",
        "x": 380,
        "y": 600,
        "wires": [
            [
                "6db95499d4b2e4de",
                "651eeb599c46d46c",
                "14c33ad1d78b8cbe"
            ]
        ]
    },
    {
        "id": "9dbe8633ca0bd2c4",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Subsistem 2: Daging Merah",
        "info": "",
        "x": 300,
        "y": 680,
        "wires": []
    },
    {
        "id": "d8d2c3dad04b097e",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Subsistem 3: Daging Putih",
        "info": "",
        "x": 290,
        "y": 960,
        "wires": []
    },
    {
        "id": "e4d858f18cb9e34f",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 520,
        "wires": []
    },
    {
        "id": "6db95499d4b2e4de",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 600,
        "wires": []
    },
    {
        "id": "6e7dc51da13fbf26",
        "type": "link in",
        "z": "b1c4d0a960412dca",
        "name": "link in 4",
        "links": [
            "bda1cb924704b883"
        ],
        "x": 145,
        "y": 800,
        "wires": [
            [
                "bf6c19b82f73b7a0",
                "3981bc0ad67143bb",
                "4b852bef5136b727"
            ]
        ]
    },
    {
        "id": "bf6c19b82f73b7a0",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 720,
        "wires": [
            [
                "b10eb0cbbaf41f76",
                "aa572e39675a2a3a",
                "7bb7afb344b2e5c2"
            ]
        ]
    },
    {
        "id": "3981bc0ad67143bb",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 800,
        "wires": [
            [
                "2de0bfac7afd8aa0",
                "4ca5cd911ddc295f",
                "f8abe902142fd1cc"
            ]
        ]
    },
    {
        "id": "4b852bef5136b727",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 880,
        "wires": [
            [
                "be9c2d28e257eff5",
                "16a52dcab1e0046c",
                "d1cf20ade43e1954"
            ]
        ]
    },
    {
        "id": "b10eb0cbbaf41f76",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "2de0bfac7afd8aa0",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 800,
        "wires": []
    },
    {
        "id": "be9c2d28e257eff5",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 880,
        "wires": []
    },
    {
        "id": "43428b44cc85a646",
        "type": "link in",
        "z": "b1c4d0a960412dca",
        "name": "link in 5",
        "links": [
            "bda1cb924704b883"
        ],
        "x": 145,
        "y": 1080,
        "wires": [
            [
                "88575350ad88c50b",
                "247c8d205f1343c2",
                "1bade12ed35ba67a"
            ]
        ]
    },
    {
        "id": "88575350ad88c50b",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 1000,
        "wires": [
            [
                "0613966eebb0220c",
                "efa33758b32c0a69"
            ]
        ]
    },
    {
        "id": "247c8d205f1343c2",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 1080,
        "wires": [
            [
                "03151f98989c5581",
                "2cdc116bbca0497c"
            ]
        ]
    },
    {
        "id": "1bade12ed35ba67a",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 300,
        "y": 1160,
        "wires": [
            [
                "fd4513a37ec43c76",
                "c79958ee142e790e"
            ]
        ]
    },
    {
        "id": "0613966eebb0220c",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1000,
        "wires": []
    },
    {
        "id": "03151f98989c5581",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1080,
        "wires": []
    },
    {
        "id": "fd4513a37ec43c76",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1160,
        "wires": []
    },
    {
        "id": "7388949cc9beca9f",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "592d70a342293f8a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Sensor LDR",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "651eeb599c46d46c",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "592d70a342293f8a",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Sensor CO2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "aa572e39675a2a3a",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "6196d35f2c4e36d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "4ca5cd911ddc295f",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "6196d35f2c4e36d1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "16a52dcab1e0046c",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "6196d35f2c4e36d1",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "efa33758b32c0a69",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "c3f604bc101e45d1",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "2cdc116bbca0497c",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "c3f604bc101e45d1",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "c79958ee142e790e",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "c3f604bc101e45d1",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 670,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "bd7f56faf0853b86",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Smart Restaurant",
        "info": "",
        "x": 1600,
        "y": 360,
        "wires": []
    },
    {
        "id": "de08238bd148fa0d",
        "type": "link in",
        "z": "b1c4d0a960412dca",
        "name": "link in 6",
        "links": [
            "bda1cb924704b883"
        ],
        "x": 845,
        "y": 520,
        "wires": [
            [
                "0e9ef38a9498a4bb",
                "19b94e2ceaf04b7f",
                "12577fa3cd540490"
            ]
        ]
    },
    {
        "id": "91eaa50b88d90456",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Subsistem 1: Sumber karbohidrat",
        "info": "",
        "x": 1010,
        "y": 400,
        "wires": []
    },
    {
        "id": "0e9ef38a9498a4bb",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1000,
        "y": 440,
        "wires": [
            [
                "5b1e2540bfd3281e",
                "3f1b71c1500177e8"
            ]
        ]
    },
    {
        "id": "19b94e2ceaf04b7f",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1000,
        "y": 520,
        "wires": [
            [
                "cd07482e11442616",
                "1fd0319ab5761bab"
            ]
        ]
    },
    {
        "id": "12577fa3cd540490",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1000,
        "y": 600,
        "wires": [
            [
                "6898db91376104e3",
                "df721db25c5d8431"
            ]
        ]
    },
    {
        "id": "0e1e8cf9069197f2",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Subsistem 2: Sayuran",
        "info": "",
        "x": 980,
        "y": 680,
        "wires": []
    },
    {
        "id": "efcf8996f507386a",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Subsistem 3: Buah-buahan",
        "info": "",
        "x": 990,
        "y": 960,
        "wires": []
    },
    {
        "id": "5b1e2540bfd3281e",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 440,
        "wires": []
    },
    {
        "id": "cd07482e11442616",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 520,
        "wires": []
    },
    {
        "id": "6898db91376104e3",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 600,
        "wires": []
    },
    {
        "id": "bd6921650625e0c0",
        "type": "link in",
        "z": "b1c4d0a960412dca",
        "name": "link in 7",
        "links": [
            "bda1cb924704b883"
        ],
        "x": 845,
        "y": 800,
        "wires": [
            [
                "ae87aae1bc971fe3",
                "6355ed61aa290a7c",
                "e5b1520e7a06b0fe"
            ]
        ]
    },
    {
        "id": "ae87aae1bc971fe3",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1000,
        "y": 720,
        "wires": [
            [
                "16e19c808e322e6f",
                "c1d9cc1fdc681949",
                "c598caf68df581b7"
            ]
        ]
    },
    {
        "id": "6355ed61aa290a7c",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1000,
        "y": 800,
        "wires": [
            [
                "3d8a5319c263b06d",
                "9dddc5a81e57d0b2",
                "56710a78dcab2c8c"
            ]
        ]
    },
    {
        "id": "e5b1520e7a06b0fe",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1000,
        "y": 880,
        "wires": [
            [
                "4118cebf496da092",
                "9dfc2cf04e094c46",
                "37dc68df70f048e7"
            ]
        ]
    },
    {
        "id": "16e19c808e322e6f",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 720,
        "wires": []
    },
    {
        "id": "3d8a5319c263b06d",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 800,
        "wires": []
    },
    {
        "id": "4118cebf496da092",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 880,
        "wires": []
    },
    {
        "id": "133b0385b1059939",
        "type": "link in",
        "z": "b1c4d0a960412dca",
        "name": "link in 8",
        "links": [
            "bda1cb924704b883"
        ],
        "x": 845,
        "y": 1080,
        "wires": [
            [
                "cce52e4a9fc71691",
                "cac5f006bfa6315d",
                "62460460e772929f"
            ]
        ]
    },
    {
        "id": "cce52e4a9fc71691",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1000,
        "y": 1000,
        "wires": [
            [
                "353ce8fcd61dad0f",
                "973d763588c93382",
                "1cd86d01266b7c12"
            ]
        ]
    },
    {
        "id": "cac5f006bfa6315d",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1000,
        "y": 1080,
        "wires": [
            [
                "e4175b87056ef4d4",
                "0e1e06b3f5a7ba2f",
                "66525c3112fac03e"
            ]
        ]
    },
    {
        "id": "62460460e772929f",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1000,
        "y": 1160,
        "wires": [
            [
                "9158414b5a8d13c5",
                "3c5bfe2c55ebc795",
                "6db497e45d7c678a"
            ]
        ]
    },
    {
        "id": "353ce8fcd61dad0f",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e4175b87056ef4d4",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1080,
        "wires": []
    },
    {
        "id": "9158414b5a8d13c5",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 1160,
        "wires": []
    },
    {
        "id": "3f1b71c1500177e8",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "5b61ca9c6259f670",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "1fd0319ab5761bab",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "5b61ca9c6259f670",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "df721db25c5d8431",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "5b61ca9c6259f670",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "c1d9cc1fdc681949",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "bb79a172094ba4e4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "9dddc5a81e57d0b2",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "bb79a172094ba4e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "9dfc2cf04e094c46",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "bb79a172094ba4e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "973d763588c93382",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "240cd49fb41bf664",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "0e1e06b3f5a7ba2f",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "240cd49fb41bf664",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "3c5bfe2c55ebc795",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "240cd49fb41bf664",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "d42296a6f8731b9e",
        "type": "link in",
        "z": "b1c4d0a960412dca",
        "name": "link in 9",
        "links": [
            "bda1cb924704b883"
        ],
        "x": 1485,
        "y": 520,
        "wires": [
            [
                "af0f5b8efb0fca0a",
                "ab4b11b392e0455a",
                "51ca6d5ff677446e"
            ]
        ]
    },
    {
        "id": "2420b09a40d92aa9",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Subsistem 1: Deteksi Musim",
        "info": "",
        "x": 1640,
        "y": 400,
        "wires": []
    },
    {
        "id": "af0f5b8efb0fca0a",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1640,
        "y": 440,
        "wires": [
            [
                "5b696d526b7bb51d",
                "1938ba8e34856162",
                "ecac68ea1066d600"
            ]
        ]
    },
    {
        "id": "ab4b11b392e0455a",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1640,
        "y": 520,
        "wires": [
            [
                "8597f26116878ddc",
                "df6524a30c4236b1",
                "8a1a09c2cb2e5bae"
            ]
        ]
    },
    {
        "id": "51ca6d5ff677446e",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1640,
        "y": 600,
        "wires": [
            [
                "36d76305c8889ede",
                "d233d502e2ea903a",
                "48ba941f94d1d728"
            ]
        ]
    },
    {
        "id": "7a015a78e3868913",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Subsistem 2: Deteksi hasil Penjualan",
        "info": "",
        "x": 1660,
        "y": 680,
        "wires": []
    },
    {
        "id": "f0b77b9375b81ef4",
        "type": "comment",
        "z": "b1c4d0a960412dca",
        "name": "Subsistem 3: Deteksi jumlah pengunjung restoran",
        "info": "",
        "x": 1700,
        "y": 960,
        "wires": []
    },
    {
        "id": "5b696d526b7bb51d",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 440,
        "wires": []
    },
    {
        "id": "8597f26116878ddc",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 520,
        "wires": []
    },
    {
        "id": "36d76305c8889ede",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 600,
        "wires": []
    },
    {
        "id": "e24398d66d2d0f56",
        "type": "link in",
        "z": "b1c4d0a960412dca",
        "name": "link in 10",
        "links": [
            "bda1cb924704b883"
        ],
        "x": 1485,
        "y": 800,
        "wires": [
            [
                "74f689ceca9caf7f",
                "fa4871d2114da17c",
                "a16ae8c4f126d43d"
            ]
        ]
    },
    {
        "id": "74f689ceca9caf7f",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1640,
        "y": 720,
        "wires": [
            [
                "f5936bcde05a9408",
                "65303697321d7566",
                "96ea9c7adb7010cc"
            ]
        ]
    },
    {
        "id": "fa4871d2114da17c",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1640,
        "y": 800,
        "wires": [
            [
                "148c7a27c805bf60",
                "c55c7843498f34e3",
                "f1d552e8f3165ec9"
            ]
        ]
    },
    {
        "id": "a16ae8c4f126d43d",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "Sensor Uang Palsu (1 Asli, 0 Palsu)",
        "low": "0",
        "high": "1",
        "inte": "true",
        "property": "payload",
        "x": 1720,
        "y": 880,
        "wires": [
            [
                "0eb0197a03b32f58",
                "1f0d72db80b100c7",
                "1fdf0a354d229e47"
            ]
        ]
    },
    {
        "id": "f5936bcde05a9408",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 720,
        "wires": []
    },
    {
        "id": "148c7a27c805bf60",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 800,
        "wires": []
    },
    {
        "id": "0eb0197a03b32f58",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 880,
        "wires": []
    },
    {
        "id": "5b54e22966431b59",
        "type": "link in",
        "z": "b1c4d0a960412dca",
        "name": "link in 11",
        "links": [
            "bda1cb924704b883"
        ],
        "x": 1485,
        "y": 1080,
        "wires": [
            [
                "9f4cfdb2117dfd3f",
                "0d7e63412987a705",
                "b2212ff820dbdd26"
            ]
        ]
    },
    {
        "id": "9f4cfdb2117dfd3f",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "Sensor Infrared Counter (0-100)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 1710,
        "y": 1000,
        "wires": [
            [
                "48f9117db6b580ee",
                "bdda472e4cf4aee7",
                "d06933861014e3bc"
            ]
        ]
    },
    {
        "id": "0d7e63412987a705",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "Sensor suhu tubuh manusia (Celcius, 35-39)",
        "low": 1,
        "high": 10,
        "inte": "true",
        "property": "payload",
        "x": 1750,
        "y": 1080,
        "wires": [
            [
                "aff707981948033a",
                "3146c0952438df57",
                "6704487db1a7b74e"
            ]
        ]
    },
    {
        "id": "b2212ff820dbdd26",
        "type": "random",
        "z": "b1c4d0a960412dca",
        "name": "Sensor Tekanan (KPa, 0-100)",
        "low": "0",
        "high": "100",
        "inte": "true",
        "property": "payload",
        "x": 1710,
        "y": 1160,
        "wires": [
            [
                "8070f8beb3e9e1fa",
                "89beaf8344a70df2",
                "9cec81373575ee6c"
            ]
        ]
    },
    {
        "id": "48f9117db6b580ee",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "Infrared Counter",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2040,
        "y": 1000,
        "wires": []
    },
    {
        "id": "aff707981948033a",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": " Suhu tubuh manusia",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2060,
        "y": 1080,
        "wires": []
    },
    {
        "id": "8070f8beb3e9e1fa",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "Tekanan",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2020,
        "y": 1160,
        "wires": []
    },
    {
        "id": "1938ba8e34856162",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "2285925587b57b29",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "df6524a30c4236b1",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "2285925587b57b29",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d233d502e2ea903a",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "2285925587b57b29",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "65303697321d7566",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "375bcc899546837c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "1f0d72db80b100c7",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "375bcc899546837c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "bdda472e4cf4aee7",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "a7dc5f30bed9abc8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Infrared Counter",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2040,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "3146c0952438df57",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "a7dc5f30bed9abc8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": " Suhu tubuh manusia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2060,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "89beaf8344a70df2",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "a7dc5f30bed9abc8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Tekanan",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2020,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "403ddab53bf36c2c",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "592d70a342293f8a",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Sensor pH",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "c55c7843498f34e3",
        "type": "ui_chart",
        "z": "b1c4d0a960412dca",
        "name": "",
        "group": "375bcc899546837c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "a8eba1ec85e7d0cb",
        "type": "debug",
        "z": "b1c4d0a960412dca",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "f38f3c8bb5be3c25",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "1subsistem1/sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 420,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a4e43beb1eba972",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "1subsistem1/sensor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 420,
        "y": 560,
        "wires": []
    },
    {
        "id": "14c33ad1d78b8cbe",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "1subsistem1/sensor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 420,
        "y": 640,
        "wires": []
    },
    {
        "id": "7bb7afb344b2e5c2",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "1subsistem2/sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 420,
        "y": 760,
        "wires": []
    },
    {
        "id": "f8abe902142fd1cc",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "1subsistem2/sensor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 420,
        "y": 840,
        "wires": []
    },
    {
        "id": "d1cf20ade43e1954",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "1subsistem2/sensor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 420,
        "y": 920,
        "wires": []
    },
    {
        "id": "39f480df78ea393a",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "1subsistem3/sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 420,
        "y": 1040,
        "wires": []
    },
    {
        "id": "d18f768cdb86f9b8",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "1subsistem3/sensor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 420,
        "y": 1120,
        "wires": []
    },
    {
        "id": "5547ed3138e61411",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "1subsistem3/sensor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 420,
        "y": 1200,
        "wires": []
    },
    {
        "id": "c598caf68df581b7",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "2subsistem2/sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1040,
        "y": 760,
        "wires": []
    },
    {
        "id": "56710a78dcab2c8c",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "2subsistem2/sensor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1040,
        "y": 840,
        "wires": []
    },
    {
        "id": "37dc68df70f048e7",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "2subsistem2/sensor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1040,
        "y": 920,
        "wires": []
    },
    {
        "id": "385488e8f256c60e",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "2subsistem1/sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "634579ac68acc423",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "2subsistem1/sensor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "b97b8d741e97e2b1",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "2subsistem1/sensor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1040,
        "y": 640,
        "wires": []
    },
    {
        "id": "1cd86d01266b7c12",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "2subsistem3/sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1040,
        "y": 1040,
        "wires": []
    },
    {
        "id": "66525c3112fac03e",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "2subsistem3/sensor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1040,
        "y": 1120,
        "wires": []
    },
    {
        "id": "6db497e45d7c678a",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "2subsistem3/sensor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1040,
        "y": 1200,
        "wires": []
    },
    {
        "id": "ecac68ea1066d600",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "3subsistem1/sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1680,
        "y": 480,
        "wires": []
    },
    {
        "id": "8a1a09c2cb2e5bae",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "3subsistem1/sensor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1680,
        "y": 560,
        "wires": []
    },
    {
        "id": "48ba941f94d1d728",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "3subsistem1/sensor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1680,
        "y": 640,
        "wires": []
    },
    {
        "id": "96ea9c7adb7010cc",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "3subsistem2/sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1680,
        "y": 760,
        "wires": []
    },
    {
        "id": "f1d552e8f3165ec9",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "3subsistem2/sensor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1680,
        "y": 840,
        "wires": []
    },
    {
        "id": "1fdf0a354d229e47",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "3subsistem2/sensor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1680,
        "y": 920,
        "wires": []
    },
    {
        "id": "d06933861014e3bc",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "3subsistem3/sensor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1680,
        "y": 1040,
        "wires": []
    },
    {
        "id": "6704487db1a7b74e",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "3subsistem3/sensor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1680,
        "y": 1120,
        "wires": []
    },
    {
        "id": "9cec81373575ee6c",
        "type": "mqtt out",
        "z": "b1c4d0a960412dca",
        "name": "",
        "topic": "3subsistem3/sensor3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "835abbe60a3e5b15",
        "x": 1680,
        "y": 1200,
        "wires": []
    },
    {
        "id": "592d70a342293f8a",
        "type": "ui_group",
        "name": "Subsistem 1: Susu Hewani dan Telur",
        "tab": "bb4d09a3a0bd87f6",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6196d35f2c4e36d1",
        "type": "ui_group",
        "name": "Subsistem 2: Daging Merah",
        "tab": "bb4d09a3a0bd87f6",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c3f604bc101e45d1",
        "type": "ui_group",
        "name": "Subsistem 3: Daging Putih",
        "tab": "bb4d09a3a0bd87f6",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b61ca9c6259f670",
        "type": "ui_group",
        "name": "Subsistem 1: Sumber Karbohidrat",
        "tab": "eadc35fd1e1899d3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bb79a172094ba4e4",
        "type": "ui_group",
        "name": "Subsistem 2: Sayuran",
        "tab": "eadc35fd1e1899d3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "240cd49fb41bf664",
        "type": "ui_group",
        "name": "Subsistem 3: Buah-buahan",
        "tab": "eadc35fd1e1899d3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2285925587b57b29",
        "type": "ui_group",
        "name": "Subsistem 1: Deteksi Musim",
        "tab": "9194dc678a5de1d9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "375bcc899546837c",
        "type": "ui_group",
        "name": "Subsistem 2: Deteksi hasil penjualan",
        "tab": "9194dc678a5de1d9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a7dc5f30bed9abc8",
        "type": "ui_group",
        "name": "Subsistem 3: Deteksi jumlah pengunjung restoran",
        "tab": "9194dc678a5de1d9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "835abbe60a3e5b15",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bb4d09a3a0bd87f6",
        "type": "ui_tab",
        "name": "Smart Farm",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "eadc35fd1e1899d3",
        "type": "ui_tab",
        "name": "Smart Plantation",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9194dc678a5de1d9",
        "type": "ui_tab",
        "name": "Smart Restaurant",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]